In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup as bs

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue'

In [3]:
page = requests.get(url)

In [4]:
soup = bs(page.text,'html')

In [5]:
table = soup.find_all('table',class_ ='wikitable sortable')[0]

In [6]:
columns = table.find_all('th')

In [7]:
columns_ready = [col.text.strip() for col in columns]

In [8]:
 data = table.find_all('tr')

In [9]:
data_rows =[]
for rows in data[1:]:
    extract_rows = rows.find_all('td')
    final_data = [row.text.strip() for row in extract_rows]
    data_rows.append(final_data)

In [10]:
top_100_co = pd.DataFrame(data = data_rows, columns = columns_ready )

In [11]:
pd.set_option('display.max_rows', None)

In [12]:
table2 = soup.find_all('table', class_ = 'wikitable sortable')[1]

In [13]:
columns = table2.find_all('th')

In [14]:
columns_ready = [col.text.strip() for col in columns]

In [15]:
raw_data = table2.find_all('tr')

In [16]:
data_ready = []
for data in raw_data[1:]:
    extract = data.find_all('td')
    data_clean = [d.text.strip() for d in extract]
    data_ready.append(data_clean)

In [17]:
top_profit = pd.DataFrame(data = data_ready, columns = columns_ready)

In [18]:
top_profit

   Rank                Name                 Industry Profits(USD millions)
0     1               Apple              Electronics                94,680
1     2  Berkshire Hathaway             Conglomerate                89,795
2     3            Alphabet               Technology                76,033
3     4           Microsoft               Technology                72,271
4     5      JPMorgan Chase               Financials                48,334
5     6                Meta               Technology                39,370
6     7              Amazon    Retail and Technology                33,364
7     8     Bank of America               Financials                31,978
8     9          ExxonMobil       Petroleum industry                23,040
9    10          Fannie Mae               Financials                22,176
10   11             Verizon       Telecommunications                22,065
11   12              Pfizer  Pharmaceutical industry                21,979
12   13           Citigroup               Financials                21,952
13   14       Goldman Sachs               Financials                21,635
14   15         Wells Fargo               Financials                21,548
15   16   Johnson & Johnson  Pharmaceutical industry                20,878
16   17                AT&T       Telecommunications                20,081
17   18               Intel               Technology                19,868
18   19  Ford Motor Company               Automotive                17,937
19   20  UnitedHealth Group               Healthcare                17,285